*{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 650;
}

body{
   width: 100%;
   background-color: rgb(201, 225, 248);
   margin: 0;
   padding: 0; 
}

button{
   cursor: pointer;
   padding: .3rem;
   background-color: whitesmoke;
   border-radius: .25rem;
}

.add-product-modal, .edit-product-modal, .home-cart-modal{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgb(0, 0, 0, 0.6);
   justify-content: center;
   align-items: center;
   z-index: 1;
}
button{
   margin: .1rem;
}

.add-product-inner, .edit-product-inner, .home-cart-inner{
   margin: 6rem auto auto;
   width: 45%;
   height: 55%;
   background-color: whitesmoke;
   color: black;
   padding: 0.2rem 2rem 3rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   overflow: scroll;
   overflow-x: hidden;
   // height: fit-content;
   h1{
      font-size: 3rem;
   }
   button{
      margin-top: .9rem;
      font-size: 1.2rem;
      cursor: pointer;
      padding: .4rem;
      // background-color: whitesmoke;
      background-color: aquamarine;
   }
}
.add-modal-input, .edit-modal-input{
   margin: .3rem auto;
   align-items: center;
   justify-content: center;
   padding: .2rem;
   font-size: 1rem;
   // background-color: pink;
}

table{
   margin: auto;
   margin-bottom: 5rem;
}

th{
   background-color: aquamarine;
   padding: 1rem;
   font-size: 1.5rem;
   font-weight: 700;
}
td{
   border: 1px solid black;
   padding:.3rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   max-width: 10rem;
   max-height: 4.5rem;
   background-color: rgb(211, 210, 210);
   // display: flex;
   // flex-direction: row;
   
}

img{
   height: 100%;
   width: 100%;
}

h1{
   text-align: center;
   font-size: 4rem;
   margin: 1rem auto;
   background-color: black;
   color: whitesmoke;
}

// .home-page{
//    align-items: center;
//    justify-content: center;
// }

.home-items-list{
   display: grid;
   grid-template-columns: repeat(auto-fill, 15rem);
   align-items: center;
}

.home-list-card{
   max-width: 15rem;
   max-height: 25rem;
   margin: 1rem;
   padding: 1rem .6rem;
   display: flex;
   flex-direction: column;
   gap: .7rem;
   border: .2rem solid black;
   border-radius: .5rem;
   background-color: whitesmoke;
   // height: 100%;
   // width: 100%;
   justify-content: center;
   // *{
   //    background-color: ;
   // }
   .image-container{
      height: 8rem;
      width: 100%;
      align-self: center;
      img{
         object-fit: cover;
      }
   }
}

.home-cart-buttons{
   display: flex;
   gap: .8rem;
   flex-direction: row;
   margin-left: 1rem;
}

.open-cart-button{
   button{
      font-size: 2rem;
   }
}


.cart-item{
   display: flex;
   flex-direction: row;
   height: 2rem;
   width: 100%;
   padding: 1rem;
}

.buy-cart-button{
   background-color: whitesmoke;
}

.cart-item{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   // justify-content: center;
   align-items: center;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   .image-container{
      height: 3rem;
      width: 3rem;
   }
}







